---
import style from './about.module.css'
import Button from '../../components/button/Button.astro';
---

<section id="about" class={style.section}>
  <div class="campo">
      <h3 class={`title ${style.title}`}>Me encanta crear algo simple y limpio</h3>
  </div>

  <div class="campo">
    <h4 class={style.aboutme}>Sobre mí</h4>
    <p class={style.paragraph}>Actualmente vivo en Colombia con buena comida y paisajes increíbles. Me gusta explorar diseños minimalistas con buena funcionalidad.

Puedo pasar horas todos los días explorando diseños.

También estoy activo en Twitter y si tienes alguna pregunta no dudes en mencionarme, estoy seguro de que será una charla interesante.

     
    </p>
    <Button tipo="secundary" text="Descargar CV"/>
  </div>

</section>
