---
import style from './footer.module.css'
---

<footer class={style.footer}>
  <p>&copy; Todos los derechos reservados | Hecho con &hearts; por <a href="https://twitter.com/rxtsel" target="_blank">@rxtsel</a></p>
</footer>
