.section {
  min-height: 100vh;
}

.content__info {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

@media (min-width: 768px) {
  .section {
    padding-top: var(--separation);
  }
}

@media (max-width: 768px) {
  .section {
    padding-top: 4rem;
  }
}

.figure {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .figure {
    width: 13rem;
    height: 13rem;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  box-shadow : var(--shadow);
  margin: 0 auto;
  border: 1px solid var(--gray)
}

.figcaption {
  color: var(--white);
  font-size: var(--normal-font);
  text-align: center;
  margin: 1rem 0;
}

.name {
  margin-top: calc(var(--separation) + 1rem);
  color: var(--white);
  text-align: center;
  font-size: 3rem;
  font-weight: var(--bold);
  line-height: 0;
}

@media (min-width: 768px) {
  .name {
    font-size: 5rem;
  }
}

.rol {
  color: var(--white);
  text-align: center;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400;
}

@media (min-width: 768px) {
  .rol {
    font-size: 2.2rem;
  }
}

.slogan {
  text-align: center;
  margin: calc(var(--separation) - 3rem) auto 0 auto;
}

@media (min-width: 758px) {
  .slogan {
    font-size: calc(var(--separation) + 1rem)!important;
    max-width: 61rem;
  }
}

.span {
  position: relative;
}

.span::after {
  position: absolute;
  content: url('/subline.webp');
  height: 1rem;
  width: 100%;
  left: 1.5rem;
  top: 3.7rem;
}

@media (min-width: 768px) {
  .span::after {
    top: 4rem;
    left: 8rem;
  }
}

.description {
  color: var(--font-off);
  font-size: var(--normal-font);
  text-align: center;
  margin: calc(var(--separation) - 2rem) auto 0 auto;
  word-wrap: break-word;
  max-width: 65ch;
  line-height: 1.2;
}
