---
import Footer from '../footer/Footer.astro';
import style from './notFound.module.css'
---

<main class={`container ${style.content}`}>
  <h1 class={style.title}>Page not Found. ☹️</h1>
</main>
<Footer />
