.section {
  min-height: 100vh;
}

@media (min-width: 768px) {
  .section {
    padding-top: 3rem;
  }
}

@media (max-width: 768px) {
  .section {
    padding-top: .5rem;
  }
}

.title {
  color: var(--white);
  font-size: var(--font-title);
  text-align: center;
}
