.section {
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

@media (min-width: 768px) {
  .section {
    max-width: 120rem;
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
  }

  .section::before {
    position: absolute;
    content: '';
    background: linear-gradient(245deg, #2a2a2a 0%, #1a1a1a 100%);
    filter: blur(.5rem);
    opacity: .2;
    right: -20rem;
    bottom: 8rem;
    width: 60rem;
    height: 60rem;
    overflow-x: hidden;
  }

}

@media (max-width: 768px) {
  .section {
    padding-top: .5rem;
  }
}

.h2,
.h4 {
  color: var(--font-off);
  font-size: 3rem;
  font-weight: 600;
}

.h3 {
  margin: 0;
  font-size: var(--font-title);
  color: var(--white);
  max-width: 5rem;
}

.paragraph {
  color: var(--font-off);
  font-size: var(--normal-font);
  line-height: 1.2;
}

@media (min-width: 768px) {
  .paragraph {
    max-width: 27rem;
  }
}

.h4 {
  margin-top: 1rem;
}

.contentIcons {
  margin-top: -1rem;
  width: 19rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.campo {
  width: 5rem;
  height: 5rem;
  background: var(--bg-nav);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-sm);
  text-decoration: none;
  overflow: hidden;
  font-size: 0;
}

:global(.linkedin:hover) {
  background: linear-gradient(180deg, #3a66d4, #3a66d4);
}

:global(.twitter:hover) {
  background: linear-gradient(180deg, #4cafe6, #4cafe6)
}

:global(.instagram:hover) {
  background: linear-gradient(207deg, #b42dc0, #ff2c77 34%, #ff4917 69%, #ff5219)
}
