---
import MainLayout from "@/layouts/MainLayout.astro"

Astro.response.status = 404

const title = "Page not found"
const description = "The page you are looking for does not exist or was moved."
---

<MainLayout
  description={description}
  extraMeta={[{ content: "noindex, nofollow", name: "robots" }]}
  lang="en"
  title={title}
>
  <main
    class="max-h-vh @container mx-auto flex h-full w-full max-w-prose grid-cols-1 flex-col place-content-center overflow-x-hidden"
  >
    <h1 class="text-foreground -mt-16 mb-2 text-3xl font-bold lg:-mt-30">{title}</h1>
    <p class="text-muted-foreground mb-4 lg:text-lg">{description}</p>
    <a class="link-underline w-fit" href="/">Back home</a>
    <p class="text-muted-foreground -z-1 mb-0! text-[53cqw] leading-none font-bold tabular-nums">404</p>
  </main>
</MainLayout>
