---
import Layout from '@/layouts/Layout.astro'
import Header from '@/components/Header.astro'
import Hero from '@/components/Hero.astro'
---

<Layout>
  <Header />
  <main class='w-full min-h-screen grid place-items-center z-0'>
    <Hero />
  </main>
</Layout>
