.header {
  position: fixed;
  left: 0;
  background-color: var(--bg-nav);
  right: 0;
  margin: 0 auto;
  width: 90%;
  max-width: 100%;
  bottom: 2rem;
  border-radius: 2rem;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  max-width: 56.8rem;
  z-index: 2;
  box-shadow: var(--shadow-sm);
}

@media (min-width: 768px) {
  .header {
    top: 0;
    bottom: unset;
    left: 0;
    right: 0;
    width: 100vw;
    max-width: 100%;
    padding: 0;
    margin: 0;
    border-radius: unset;
    background-color: transparent;
  }
}
