---
import { SOCIALS } from '@/constants/routes'
import Section from './Section.astro'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Section title={t('nav.about')} container id='about-me'>
  <article class='text-cAccent max-w-3xl'>
    <h3 class='text-xl font-medium text-cWhite leading-none mb-4'>
      {t('about.p1')}
    </h3>
    <p class='text-pretty'>
      {t('about.p2')}
    </p>
    <p class='text-pretty my-3'>
      {t('about.p3')}
    </p>
    <p class='text-pretty'>
      {t('about.p4')}
      <a
        href={SOCIALS.x}
        target='_blank'
        aria-label='twitter profile'
        class='text-cWhite hover:text-cBlue transition-colors duration-150 ease-in'
        >x.com</a
      >
      {t('about.p5')}
    </p>
  </article>
</Section>
