---
import Layout from '@/layouts/Layout.astro'
import Header from '@/components/Header.astro'
import Hero from '@/components/Hero.astro'
import Experience from '@/components/Experience.astro'
import Works from '@/components/Works.astro'
import Projects from '@/components/Projects.astro'
import Tech from '@/components/Tech.astro'
import AboutMe from '@/components/AboutMe.astro'
import Contact from '@/components/Contact.astro'
import Footer from '@/components/Footer.astro'

import { getI18N } from '@/i18n'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<Layout title={i18n.site.title}>
  <Header />
  <main class='w-full px-2 z-0'>
    <Hero />
    <Experience />
    <Works />
    <Projects />
    <Tech />
  </main>
  <AboutMe />
  <Contact />
  <Footer />
</Layout>
