---
import { getBlogPostTransitionName, type BlogPost } from "@/lib/blog"
import { compareDatesDescending } from "@/lib/date-time"
import BlogPostCard from "./BlogPostCard.astro"

interface Props {
  blogPost: BlogPost[]
  headingLevel?: "h2" | "h3"
}

const { blogPost, headingLevel = "h2" } = Astro.props
---

<ul class="not-prose grid grid-cols-1 gap-0 sm:gap-2">
  {
    blogPost
      .sort((a, b) => compareDatesDescending(a.data.publishDate, b.data.publishDate))
      .map((post) => (
        <li
          class="border p-4 odd:border-0 odd:border-x first-of-type:border-t last-of-type:border-b sm:odd:border"
          style={`view-transition-name: ${getBlogPostTransitionName(post, "card")}`}
        >
          <BlogPostCard headingLevel={headingLevel} post={post} />
        </li>
      ))
  }
</ul>
