---
import type { BlogPost } from "@/lib/blog"
import { getBlogPostTransitionName } from "@/lib/blog"
import { getBlogPostPath } from "@/lib/i18n"

interface Props {
  headingLevel?: "h2" | "h3"
  post: BlogPost
}

const { headingLevel = "h2", post } = Astro.props
const Heading = headingLevel
---

<article>
  <a class="group block space-y-2" href={getBlogPostPath(post)}>
    <Heading
      class="font-medium group-hover:underline"
      transition:name={getBlogPostTransitionName(post, "title")}
    >
      {post.data.title}
    </Heading>
    <p class="text-muted-foreground" transition:name={getBlogPostTransitionName(post, "description")}>
      {post.data.description}
    </p>
  </a>
</article>
