---
import { SOCIALS } from '@/constants/routes'
import Section from './Section.astro'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

import MailIcon from '@/icons/simple/mail.svg'
import LinkedinIcon from '@/icons/simple/linkedin.svg'
import TwitterIcon from '@/icons/simple/x.svg'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Section title={t('single.contact')} id='contact' container>
  <nav class='grid grid-cols-2 gap-4 md:grid-cols-6'>
    <a
      class='flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4 transition-all duration-150 ease-in hover:bg-neutral-800/40'
      href={SOCIALS.email}
      aria-label='Email'
    >
      <div class='size-14 text-[#e94134]'>
        <MailIcon />
      </div>
      <h2 class='text-cWhite'>Email</h2>
    </a>

    <a
      class='flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4 transition-all duration-150 ease-in hover:bg-neutral-800/40'
      href={SOCIALS.linkedin}
      aria-label='Linkedin'
      target='_blank'
    >
      <div class='size-14 text-[#0077B5]'>
        <LinkedinIcon />
      </div>
      <h2 class='text-cWhite'>Linkedin</h2>
    </a>

    <a
      class='flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4 transition-all duration-150 ease-in hover:bg-neutral-800/40'
      href={SOCIALS.x}
      aria-label='Twitter'
      target='_blank'
    >
      <div class='size-14 text-cWhite'>
        <TwitterIcon />
      </div>
      <h2 class='text-cWhite'>X</h2>
    </a>
  </nav>
</Section>
