---
import Section from '@/components/Section.astro'
import ExperienceItem from './ExperienceItem.astro'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import type { TWorkEntry } from '@/types'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

export type TWorks = {
  company: string
  role: string
}

const works: TWorkEntry[] = [
  {
    company: 'SoundAdvice',
    companyUrl: 'https://soundadvice.club',
    location: 'Toronto, Canadá',
    remote: true,
    jobs: [
      {
        role: 'Software Developer',
        startDate: new Date('2024-03-01'),
        description: t('experiense.SoundAdvice')
      }
    ]
  },
  {
    company: 'Visual Dealers',
    companyUrl: 'https://visualdealers.com',
    location: 'Los Angeles, CA',
    remote: true,
    jobs: [
      {
        role: 'Front-end Developer',
        startDate: new Date('2023-04-01'),
        endDate: new Date('2024-02-01'),
        description: t('experiense.vsdlrs')
      }
    ]
  },
  {
    company: 'Vehement',
    companyUrl: 'https://vehement.co',
    location: 'Bogotá, Colombia',
    remote: true,
    jobs: [
      {
        role: 'Front-end Developer',
        startDate: new Date('2022-09-01'),
        endDate: new Date('2024-02-07'),
        description: t('experiense.vehement')
      }
    ]
  }
]
---

<Section title={t('single.experience')}>
  <article class='section w-full lg:w-full max-w-3xl'>
    <ol
      class='relative border-s border-neutral-800 md:border-cAccent ml-2 md:ml-3'
    >
      {works.map((work) => <ExperienceItem data={work} />)}
    </ol>
  </article>
</Section>
