---
import Section from '@/components/Section.astro'
import ExperienceItem from './ExperienceItem.astro'
const works = [
  {
    company: 'Visual Dealers',
    role: 'Front-end Developer',
    startDate: '2023-04-01',
    description:
      'Desarrollador de E-commerce, plantillas de email marketing, SEO y landing pages. Mejora del 70% en Core Web Vitals. Apasionado por la creaci贸n de experiencias web excepcionales y orientadas al rendimiento. '
  },
  {
    company: 'Vehement S.A.S',
    role: 'Front-end Developer',
    startDate: '2022-09-01',
    description:
      'Responsable de la plataforma, componentes y utilidades para la creaci贸n y desarrollo de aplicaciones web. Mejora de un 90% en la entrega de software. Implantaci贸n de medidas de integraci贸n continua y despliegue.'
  }
]
---

<Section title='Experience'>
  <article class='section w-full lg:w-full max-w-3xl'>
    <ol
      class='relative border-s border-neutral-800 md:border-cAccent ml-2 md:ml-3'
    >
      {works.map((work) => <ExperienceItem data={work} />)}
    </ol>
  </article>
</Section>
