<footer class="flex items-center justify-center">
  <p class="text-muted-foreground text-center text-sm">
    Built with ♥️ and ☕ by <a
      class="link-underline text-foreground font-medium"
      href="https://x.com/rxtsel"
      rel="noopener noreferrer"
      target="_blank"
    >
      rxtsel
    </a>.
  </p>
</footer>
