---
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<footer class='pb-32 mt-14 lg:my-4 lg:py-4 w-full text-center text-cAccent'>
  <p>
    &copy; 2022 - {new Date().getFullYear()}. {t('footer.p1')} &hearts;
    {t('single.by')}
    <a
      class='hover:text-cBlue transition-colors duration-150 ease-in'
      href='https://twitter.com/rxtsel'
      target='_blank'
    >
      @rxtsel</a
    >.
  </p>
</footer>
