---
import Logo from "@/assets/logo.svg"
---

<header class="flex items-center justify-between">
  <a class="logo" href="/">
    <Logo aria-label="Rxtsel logo" height={30} width={29} />
  </a>

  <nav class="flex justify-between gap-4 max-sm:hidden">
    <a
      class="text-muted-foreground hover:text-foreground data-active:text-foreground text-sm font-medium transition-colors"
      href="/blog">Blog</a
    >
  </nav>
</header>
