<section class='max-w-4xl py-20 sm:py-44 mx-auto'>
  <article class='text-cWhite text-center px-2'>
    <picture>
      <source media='(max-width: 767px)' srcset='/profile-mobile.webp' />
      <source media='(min-width: 768px)' srcset='/profile-desktop.webp' />
      <img
        src='/profile-mobile.webp'
        width='100'
        height='100'
        alt='puede ser una foto de Cristhian Melo'
        class='size-[100px] lg:size-[130px] aspect-square rounded-full mx-auto border border-cPaper shadow-md mb-1'
      />
    </picture>

    <strong class='text-[clamp(14px,6vw,18px)] font-normal text-base'
      >@rxtsel</strong
    >

    <h1
      class='text-[clamp(1.875rem,2vw+1rem,5rem)] font-bold flex flex-col leading-none'
    >
      Hola, Soy Cristhian
      <strong
        class='font-normal text-[clamp(1.235rem,2vw+1rem,1.375rem)] text-cWhite mt-2 mb-6'
      >
        Desarrollador Web Front-end</strong
      >
    </h1>

    <h2
      class='text-[clamp(2.125rem,2vw+1rem,5rem)] font-medium leading-none text-pretty'
    >
      Apasionado por crear productos digitales <span class='line relative'
        >increíbles.</span
      >
    </h2>

    <p
      class='mt-6 max-w-2xl mx-auto text-cAccent text-base font-normal text-pretty'
    >
      Estudiante de ingeniería de software con +1 año de experiencia como
      desarrollador web. Amante del diseño y la innovación.
    </p>
  </article>
</section>

<style>
  .line::after {
    position: absolute;
    content: url('/subline.webp');
    height: 10px;
    width: 100%;
    top: 30px;
    left: 0px;
  }

  @media (width >= 1024px) {
    .line::after {
      top: 35px;
      left: 40px;
    }
  }
</style>
