---
import Post from '@/components/Post.astro'
import Section from '@/components/Section.astro'
import { type CollectionEntry, getCollection } from 'astro:content'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const allPosts = await getCollection('blog')
const noDrafts = allPosts.filter((post) => !post.data.draft)
const formattedPosts = noDrafts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)

type Post = CollectionEntry<'blog'>

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Section title={t('messages.latestPosts')}>
  <ul class='grid gap-4'>
    {
      formattedPosts.slice(0, 3).map((post: Post) => (
        <li>
          <Post
            title={post.data.title}
            description={post.data.description}
            date={post.data.pubDate}
            url={`/blog/${post.slug}`}
          />
        </li>
      ))
    }
  </ul>
</Section>
