---
import Post from '@/components/Post.astro'
import Section from '@/components/Section.astro'
import { useTranslations } from '@/i18n/utils'
import { getBlogPosts } from '@/content/config'
import type { TPostList } from '@/types'

interface TPostWithSlug extends Partial<TPostList> {
  slug: string
}

const { lang } = Astro.params
const t = useTranslations(lang)

const posts = (await getBlogPosts())
  ?.filter((blog) => {
    return blog?.data?.lang === lang
  })
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<Section title={t('messages.latestPosts')}>
  <ul class='grid gap-4'>
    {
      posts.slice(0, 3).map((post: TPostWithSlug) => (
        <li>
          <Post
            title={post.data.title}
            description={post.data.description}
            date={post.data.pubDate}
            url={`/${lang || ''}/blog/${post.slug}`}
          />
        </li>
      ))
    }
  </ul>
</Section>
