---
import Section from '@/components/Section.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import { projects } from '@/data/projects'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Section title={t('messages.featuredProjects')}>
  <div class='grid grid-cols-1 gap-4 lg:grid-cols-2'>
    {projects.map((project) => <ProjectCard props={project} />)}
  </div>
</Section>
