---
export interface Props {
  title: string
  id?: string
  container?: boolean
}

const { title, id, container } = Astro.props
---

<section
  class={`mb-6 pt-8 lg:pt-12 lg:scroll-mt-16 max-w-6xl mx-auto ${container ? 'px-2' : ''}`}
  id={id ? id : null}
>
  <header class='mb-3 flex items-center space-x-4'>
    <h2 class='text-2xl font-semibold dark:text-cWhite'>{title}</h2>
  </header>
  <slot />
</section>
