---
import type { Technologies } from '@/types'
import Section from './Section.astro'
import TechCard from './TechCard.astro'
import { IconColor } from '@/icons'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

interface iTechnology {
  name: Technologies
  Icon: HTMLElement | any
  className?: string
}

const techs: iTechnology[] = [
  {
    name: 'Astro',
    Icon: IconColor.astro
  },
  {
    name: 'Next.js',
    Icon: IconColor.nextjs,
    className: 'size-12 mx-auto'
  },
  {
    name: 'React',
    Icon: IconColor.react
  },
  {
    name: 'TypeScript',
    Icon: IconColor.ts
  },
  {
    name: 'PostgreSQL',
    Icon: IconColor.database,
    className: 'text-[#60A5FA]'
  },
  {
    name: 'Git',
    Icon: IconColor.git
  },
  {
    name: 'Supabase',
    Icon: IconColor.supabase,
    className: 'h-full'
  },
  {
    name: 'Docker',
    Icon: IconColor.docker
  },
  {
    name: 'Python',
    Icon: IconColor.python
  },
  {
    name: 'Linux',
    Icon: IconColor.linux,
    className: 'h-full'
  },
  ]
---

<Section title={t('single.techs')}>
  <div class='grid grid-cols-2 gap-4 md:grid-cols-6'>
    {
      techs
        .map(({ name, Icon, className }: iTechnology) => (
          <TechCard name={name}>
            <Icon {className} />
          </TechCard>
        ))
    }
  </div>
</Section>
