---
import type { Technologies } from '@/types'
import Section from './Section.astro'
import TechCard from './TechCard.astro'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

import AstroIcon from '@/icons/logos/astro.svg'
import NextjsIcon from '@/icons/logos/nextjs.svg'
import ReactIcon from '@/icons/logos/react.svg'
import TsIcon from '@/icons/logos/ts.svg'
import DatabaseIcon from '@/icons/logos/database.svg'
import GitIcon from '@/icons/logos/git.svg'
import SupabaseIcon from '@/icons/logos/supabase.svg'
import DockerIcon from '@/icons/logos/docker.svg'
import PythonIcon from '@/icons/logos/python.svg'
import LinuxIcon from '@/icons/logos/linux.svg'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

interface iTechnology {
  name: Technologies
  Icon: HTMLElement | any
  className?: string
}

const techs: iTechnology[] = [
  {
    name: 'Astro',
    Icon: AstroIcon
  },
  {
    name: 'Next.js',
    Icon: NextjsIcon,
    className: 'size-12 mx-auto'
  },
  {
    name: 'React',
    Icon: ReactIcon
  },
  {
    name: 'TypeScript',
    Icon: TsIcon
  },
  {
    name: 'PostgreSQL',
    Icon: DatabaseIcon,
    className: 'text-[#60A5FA]'
  },
  {
    name: 'Git',
    Icon: GitIcon
  },
  {
    name: 'Supabase',
    Icon: SupabaseIcon,
    className: 'h-full'
  },
  {
    name: 'Docker',
    Icon: DockerIcon
  },
  {
    name: 'Python',
    Icon: PythonIcon
  },
  {
    name: 'Linux',
    Icon: LinuxIcon,
    className: 'h-full'
  },
  {
    name: 'MySQL',
    Icon: DatabaseIcon,
    className: 'h-full text-[#F29111]'
  },
  {
    name: 'SQLite',
    Icon: DatabaseIcon,
    className: 'h-full text-[#003B57]'
  }
]
---

<Section title={t('single.techs')}>
  <div class='grid grid-cols-2 gap-4 md:grid-cols-6'>
    {
      techs.map(({ name, Icon, className }: iTechnology) => (
        <TechCard name={name}>
          <Icon {className} />
        </TechCard>
      ))
    }
  </div>
</Section>
