---
import type { Technologies } from '@/types'
import Section from './Section.astro'
import TechCard from './TechCard.astro'
import NextJs from '@/icons/color/NextJs.astro'
import TypeScript from '@/icons/color/TypeScript.astro'
import Tailwind from '@/icons/color/Tailwind.astro'
import AstroIcon from '@/icons/color/AstroIcon.astro'
import React from '@/icons/color/React.astro'
import Git from '@/icons/color/Git.astro'
import JavaScript from '@/icons/color/JavaScript.astro'
import Lua from '@/icons/color/Lua.astro'
import Supabase from '@/icons/color/Supabase.astro'
import MySQL from '@/icons/color/MySQL.astro'
import Prisma from '@/icons/color/Prisma.astro'
import Sass from '@/icons/color/Sass.astro'
import Figma from '@/icons/color/Figma.astro'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

interface iTechnology {
  name: Technologies
  Icon: HTMLElement | any
}

const techs: iTechnology[] = [
  {
    name: 'Next.js',
    Icon: NextJs
  },
  {
    name: 'TypeScript',
    Icon: TypeScript
  },
  {
    name: 'JavaScript',
    Icon: JavaScript
  },
  {
    name: 'Tailwind CSS',
    Icon: Tailwind
  },
  {
    name: 'Astro',
    Icon: AstroIcon
  },
  {
    name: 'React',
    Icon: React
  },
  {
    name: 'Git',
    Icon: Git
  },
  {
    name: 'Lua',
    Icon: Lua
  },
  {
    name: 'Supabase',
    Icon: Supabase
  },
  {
    name: 'MySQL',
    Icon: MySQL
  },
  {
    name: 'Prisma',
    Icon: Prisma
  },
  {
    name: 'Sass',
    Icon: Sass
  }
]
---

<Section title={t('single.techs')}>
  <div class='grid grid-cols-2 gap-4 md:grid-cols-6'>
    {
      techs
        .sort((a, b) => a.name.localeCompare(b.name))
        .map(({ name, Icon }: iTechnology) => (
          <TechCard name={name}>
            <Icon />
          </TechCard>
        ))
    }
  </div>
</Section>
