---
import type { Technologies } from '@/types'

export interface Props {
  name: Technologies
}

const { name } = Astro.props
---

<div
  class='flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-300 dark:border-neutral-800 p-4'
>
  <div class='size-14'>
    <slot />
  </div>
  <h2 class='dark:text-cWhite'>{name}</h2>
</div>
