---
import type { Technologies } from '@/types'
import Section from './Section.astro'
import TechCard from './TechCard.astro'
import { IconColor } from '@/icons'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

interface iTechnology {
  name: Technologies
  Icon: HTMLElement | any
  className?: string
}

const techs: iTechnology[] = [
  {
    name: 'Next.js',
    Icon: IconColor.nextjs,
    className: 'size-12 mx-auto'
  },
  {
    name: 'TypeScript',
    Icon: IconColor.ts
  },
  {
    name: 'JavaScript',
    Icon: IconColor.js
  },
  {
    name: 'Tailwind CSS',
    Icon: IconColor.tailwind
  },
  {
    name: 'Astro',
    Icon: IconColor.astro
  },
  {
    name: 'React',
    Icon: IconColor.react
  },
  {
    name: 'Git',
    Icon: IconColor.git
  },
  {
    name: 'Lua',
    Icon: IconColor.lua
  },
  {
    name: 'Supabase',
    Icon: IconColor.supabase,
    className: 'h-full'
  },
  {
    name: 'MySQL',
    Icon: IconColor.database,
    className: 'text-[#F472B6]'
  },
  {
    name: 'PostgreSQL',
    Icon: IconColor.database,
    className: 'text-[#60A5FA]'
  },
  {
    name: 'Docker',
    Icon: IconColor.docker
  },
  {
    name: 'Drizzle',
    Icon: IconColor.drizzle
  },
  {
    name: 'Vitest',
    Icon: IconColor.vitest
  },
  {
    name: 'Python',
    Icon: IconColor.python
  },
  {
    name: 'MDX',
    Icon: IconColor.mdx
  },
  {
    name: 'Jest',
    Icon: IconColor.jest
  },
  {
    name: 'I18n',
    Icon: IconColor.i18n,
    className: 'w-full'
  },
  {
    name: 'Playwright',
    Icon: IconColor.playwright
  },
  {
    name: 'Linux',
    Icon: IconColor.linux,
    className: 'h-full'
  },
  {
    name: 'TanStack Query',
    Icon: IconColor.tanStackQuery,
    className: 'w-full'
  },
  {
    name: 'AWS',
    Icon: IconColor.aws,
    className: 'w-full relative top-4'
  },
  {
    name: 'GitHub',
    Icon: IconColor.github,
    className: 'text-white'
  },
  {
    name: 'Figma',
    Icon: IconColor.figma,
    className: 'w-full h-12 relative top-2'
  }
]
---

<Section title={t('single.techs')}>
  <div class='grid grid-cols-2 gap-4 md:grid-cols-6'>
    {
      techs
        .sort((a, b) => a.name.localeCompare(b.name))
        .map(({ name, Icon, className }: iTechnology) => (
          <TechCard name={name}>
            <Icon {className} />
          </TechCard>
        ))
    }
  </div>
</Section>
