---
import { getLangFromUrl, useTranslations } from '../i18n/utils'
import { Toggle } from 'astro-theme-toggle'
import { Icon } from '../icons'
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Toggle title={t('single.theme')} class='size-6'>
  <Fragment slot='icon-light'>
    <Icon.moon
      class='moon size-6 shrink-0 theme-icon dark:hidden block dark:text-cWhite hover:!text-cBlue transition-colors duration-150 ease-in'
      data-theme-icon='moon'
    />
  </Fragment>
  <Fragment slot='icon-dark'>
    <Icon.sun
      class='sun size-6 shrink-0 theme-icon dark:block hidden dark:text-cWhite hover:text-cBlue transition-colors duration-150 ease-in'
      data-theme-icon='sun'
    />
  </Fragment>
</Toggle>

<span class='text-inherit lg:hidden uppercase mt-1'>{t('single.theme')}</span>
