---
import { Icon } from '../icons'
---

<button
  id='themeToggle'
  class='flex items-center group'
  title='Toggle theme'
  aria-label='Toggle theme'
>
  <Icon.sun
    class='sun size-6 shrink-0 theme-icon dark:text-cWhite hover:text-cBlue transition-colors duration-150 ease-in'
    data-theme-icon='sun'
  />
  <Icon.moon
    class='moon size-6 shrink-0 theme-icon hidden dark:text-cWhite hover:!text-cBlue transition-colors duration-150 ease-in'
    data-theme-icon='moon'
  />
</button>
<style>
  #themeToggle {
    border: 0;
    background: none;
  }
  .theme-icon {
    fill: transparent;
  }
  :global(.dark) .theme-icon[data-theme-icon='sun'] {
    display: none;
  }
  :global(.dark) .theme-icon[data-theme-icon='moon'] {
    display: block;
  }
  :global(.light) .theme-icon[data-theme-icon='sun'] {
    display: block;
  }
  :global(.light) .theme-icon[data-theme-icon='moon'] {
    display: none;
  }
</style>
<script is:inline>
  document.addEventListener('astro:page-load', () => {
    const theme = (() => {
      const localStorageTheme = localStorage?.getItem('theme') ?? ''
      if (['dark', 'light'].includes(localStorageTheme)) {
        return localStorageTheme
      }
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        return 'dark'
      }
      return 'light'
    })()

    const updateTheme = (currentTheme) => {
      const htmlElement = document.documentElement

      if (currentTheme === 'light') {
        htmlElement.classList.remove('dark')
        htmlElement.classList.add('light')
        htmlElement.setAttribute('data-theme', 'github-light')
      } else {
        htmlElement.classList.add('dark')
        htmlElement.classList.remove('light')
        htmlElement.setAttribute('data-theme', 'github-dark')
      }

      window.localStorage.setItem('theme', currentTheme)
    }

    updateTheme(theme)

    const handleToggleClick = () => {
      const element = document.documentElement
      const isDark = element.classList.contains('dark')
      const newTheme = isDark ? 'light' : 'dark'
      updateTheme(newTheme)
    }

    document
      .getElementById('themeToggle')
      ?.addEventListener('click', handleToggleClick)
  })
</script>
