---
import Section from '@/components/Section.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import { projects } from '@/data'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Section title={t('messages.latestWorks')} id='portfolio'>
  <div class='grid grid-cols-1 gap-4 lg:grid-cols-2'>
    {projects.sort().map((work) => <ProjectCard props={work} />)}
  </div>
</Section>
