---
import style from './gallery.module.css'
import GridCard from '../gridcard/GridCard.astro';
import images from '../../data/grid-cards.json'

const { lang } = Astro.props

---

<section class={style.grid}>
  <GridCard lang={lang} data={images} />
</section>
