.li {
  list-style: none;
  border-radius: 2rem;
  margin: 0 auto;
  max-width: 48rem;
  width: 35rem;
  background-color: var(--bg-nav);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: var(--shadow-sm);
}

.url_content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-decoration: none;
}

.img {
  width: 100%;
  max-width: 100%;
  height: 185px;
  min-height: 100%;
}

.img > img {
  width: 100%;
  height: 100%;
  border-radius: 2rem 2rem 0 0;
  object-fit: cover;
}

.info {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  position: relative;
}

.title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  color: var(--white);
  font-size: 2rem;
  transition: color 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .title {
    margin-top: 0.5rem;
    line-height: 0;
  }
}

.span {
  padding-left: 1rem;
  font-size: 3rem;
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

.description {
  padding: 0;
  margin: 1rem auto 2rem;
  color: var(--font-off);
  font-size: 1.6rem;
  height: 5.5rem;
}

.contentTechAndGithub {
  display: flex;
  justify-content: space-between;
}

.githubUrl {
  text-decoration: none;
  color: var(--font-off);
  padding: 0;
  margin: 0;
}

.githubUrl > svg > path {
  transition: fill 0.3s ease-in-out;
}

.githubUrl:hover > div > svg > path {
  fill: var(--active);
}

.technologys {
  display: flex;
  height: 4rem;
}

.technologys > div > * + * {
  margin: 0 1rem;
}

.li:is(:hover, :focus-within) {
  background-position: 0;
}

.li:is(:hover, :focus-within) .title {
  color: var(--active);
}

.li:is(:hover, :focus-within) .title .span {
  will-change: transform;
  transform: translateX(2px);
}
