---
import style from './footer.module.css'
const { lang } = Astro.props
---

<footer class={style.footer}>
  {
    lang === 'es' ?
    (
      <p>&copy; {new Date().getFullYear()} Todos los derechos reservados | Hecho con &hearts; por <a href="https://twitter.com/rxtsel" target="_blank">@rxtsel</a></p>
    ) :
    (
      <p>&copy; All right reserved | Made with &hearts; by <a href="https://twitter.com/rxtsel" target="_blank">@rxtsel</a></p>
    )
  }
</footer>
