.footer {
  margin: 5rem 0 0 0;
  width: 100%;
  text-align: center;
}

.footer > p {
  color: var(--white-hover);
  font-size: 1.4rem;
  padding: 0 0 2rem 0;
  margin: 0;
}

@media (max-width: 768px) {
  .footer > p {
    display: none;
  }
}

.footer > p > a {
  text-decoration: none;
  color: var(--active);
  transition: color .3s ease-in-out;
}

.footer > p > a:hover {
  color: var(--font-off);
}
