---
import style from './footer.module.css'
---

<footer class={style.footer}>
  <p>&copy; All right reserved | Made with &hearts; by <a href="https://twitter.com/rxtsel" target="_blank" tabindex="22">@rxtsel</a></p>
</footer>
