svg:hover .burger__icon {
  fill: var(--active);
}

.icon {
  fill: #f5f5f5;
  transition: fill .5s ease;
}

.hidden {
  display: none;
}

.hidden-active {
  display: block;
}

.burger__icon {
  fill: var(--white);
  transition: fill .5s ease;
}

.contentIconTech {
  display: flex;
  max-width: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentIconTech > svg > path {
  transition: fill .3s ease-in-out;
}

.nameIconTech {
  padding: 0;
  margin-top: .2rem!important;
  color: var(--font-off);
  font-size: 1rem;
}
