---
import Layout from "../../layouts/Layout.astro"
import Header from "../../es/header/Header.astro"
import Hero from "../../es/hero/Hero.astro"
import About from "../../es/about/About.astro"
import Portfolio from "../../es/portfolio/Portfolio.astro"
import Connect from "../../es/connect/Connect.astro"
import Footer from '../../es/footer/Footer.astro'
import Button from "../../components/button/Button.astro"
---

<Layout title="Cristhian Melo - Desarrollador de Software" lang="es">

  <Header lang="es"/>

  	<div class="container">

		<main>
			<Hero />
		</main>

		<About />
		<Portfolio/>
		<Connect />
    <Footer />
		<Button tipo="tertiary" text="Volver arriba" />

	</div>

</Layout>
