---
import Metatags from '@/components/Metatags.astro'
import Analitycs from '@/components/Analitycs.astro'
import '@fontsource-variable/onest';
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <title>('site.title')</title>
    <Metatags />
    <meta name='generator' content={Astro.generator} />
    <link rel='manifest' href={'/manifest.json'} />
    <link rel='sitemap' href={'/sitemap-index.xml'} />
    <meta name='theme-color' content='#1A1A1A' />
    <Analitycs />
  </head>
  <body class="antialiased relative bg-cBlack">
    <div
      class='absolute w-full h-full bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:40px_40px] md:bg-[size:50px_50px] lg:bg-[size:70px_70px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)] -z-10'
    >
    </div>
    <slot />
  </body>
</html>

<style is:global>
  body {
    font-family: 'Onest Variable', sans-serif;
  }
</style>
