---
import "@/styles/global.css"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <link href="/favicon.ico" rel="icon" />
    <meta content="width=device-width" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <title>Astro</title>
    <link href="/sitemap-index.xml" rel="sitemap" />
  </head>
  <body>
    <h1>Astro</h1>
  </body>
</html>
